**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/.idea
**/Dockerfile
**/Thumbs.db
docker-compose*.yaml
docker-compose*.yml
src/.editorconfig
src/.php_cs.cache
src/.travis.yml
src/composer.phar
src/etc/build/*
src/node_modules/
src/var/*
src/vendor/
src/public/assets/
src/public/bundles/
src/public/css/
src/public/js/
src/public/media/